$first_animation: 1000ms ease-in-out 100ms forwards;
$second_animation: 800ms ease-in-out 1100ms forwards;
$third_animation: 1500ms cubic-bezier(0.18, -0.01, 0.11, 0.98) 1200ms forwards;
$fourth_animation: 500ms cubic-bezier(0.18, -0.01, 0.11, 0.98) 2000ms forwards;
$fifth_animation: 200ms ease-in-out 2800ms forwards;