$lightest: #ffffff;
$darkest: #000000;

$lightest_10_percent: #ffffff10;
$darkest_10_percent: #00000010;

$linear-gradient-dark-color: #F5F5F5;

$secondary-background: #F4F6F8;

$primary: #009EFE;
$secondary: #6AD300;

$grey: #818487;

$blue-main: #3D8CBC;